<div class="row mb-3">
  <div class="col-12">
    <mat-card>
      <mat-card-title>通知</mat-card-title>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8" [innerHtml]="siteNotification"></div>
            <div class="col-12 col-md-6 col-lg-4">
              <img matTooltip="付款请用支付宝扫二维码" class="w100" src="https://cydc.starworks.cc/images/pay.png" />
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6" *ngFor="let menu of menus">
    <mat-card>
      <mat-card-title>
        <div class="container">
          <div class="row">
            <span>{{menu.title}}</span>
            <span class="flex-fill"></span>
            <span>{{menu.price}}元</span>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        {{menu.details}}
      </mat-card-content>
      <mat-card-actions>
        <div class="container">
          <div class="row">
            <span class="flex-fill"></span>
            <button mat-raised-button color="primary" (click)="select(menu)">选择</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
