<div mat-dialog-title>
  <div class="container">
    <div class="row">
      <span>{{selected.menu.title}}</span>
      <span class="flex-fill"></span>
      <span>{{selected.menu.price}}元</span>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <form class="create-dialog-form">
    <mat-form-field>
      <mat-label>套餐内容</mat-label>
      <input matInput placeholder="套餐" disabled name="menu" [value]="selected.menu.details" />
    </mat-form-field>

    <div class="create-dialog-container">
      <label class="dialog-label">口味: </label>
      <mat-radio-group [(ngModel)]="selected.taste" name="taste">
        <div class="container">
          <div class="row">
            <mat-radio-button class="col-6 col-md-3" *ngFor="let taste of tastes" [value]="taste">{{taste.name}}</mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
    </div>

    <div class="create-dialog-container" *ngIf="userService.userStatus.isAdmin">
      <label class="dialog-label">点餐人: </label>
      <mat-radio-group [(ngModel)]="selected.isMe" name="isMe">
        <div class="container">
          <div class="row">
            <mat-radio-button class="col-6 col-md-3" [value]="true">自己</mat-radio-button>
            <mat-radio-button class="col-6 col-md-3" [value]="false" matTooltip="扣自己钱">别人</mat-radio-button>
            <mat-form-field *ngIf="!selected.isMe">
              <input matInput placeholder="姓名" name="otherPersonName" [(ngModel)]="selected.otherPersonName" />
            </mat-form-field>
          </div>
        </div>
      </mat-radio-group>
    </div>

    <div class="create-dialog-container">
      <label class="dialog-label">送餐地点: </label>
      <mat-radio-group [(ngModel)]="selected.address" name="address">
        <div class="container">
          <div class="row">
            <mat-radio-button class="col-6 col-md-3" *ngFor="let address of addresses" [value]="address">{{address.location}}</mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <input class="order-dialog-input" matInput placeholder="备注" name="comment" [(ngModel)]="selected.comment" />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">取消</button>
  <span class="flex-fill"></span>
  <button mat-button cdkFocusInitial (click)="confirm()">确认点餐</button>
</div>
