<div class="row mb-3">
  <div class="col-12">
    <mat-card class="card-bg">
      <mat-card-title>通知</mat-card-title>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-12" *ngIf="!isHttps">
              <a mat-button color="warn" (click)="httpsRedirect()">
                你当前不是<strong>https</strong>，无法点餐，点击跳转https
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-8" [innerHtml]="siteNotification | safeHtml"></div>
            <div class="col-12 col-md-6 col-lg-4">
              <img matTooltip="付款请用支付宝扫二维码" src="/api/qrcode/pay" />
              &nbsp;
              <!--红包没什么人扫了，删掉算了。-->
              <!--<img matTooltip="红包" src="/api/qrcode/redPacket" />-->
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6 mb-3" *ngFor="let menu of menus">
    <mat-card class="card-bg">
      <mat-card-title>
        <div class="container">
          <div class="row">
            <span>{{menu.title}}</span>
            <span class="flex-fill"></span>
            <span>{{menu.price}}元</span>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        {{menu.details}}
      </mat-card-content>
      <mat-card-actions>
        <div class="container">
          <div class="row">
            <span class="flex-fill"></span>
            <button mat-raised-button color="primary" (click)="select(menu)">选择</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-6 mb-3" *ngIf="menus.length === 0">
    非点餐时间，要点餐请联系赵叔。
  </div>
</div>
