<header>
  <nav>
    <mat-toolbar class="mat-elevation-z2 mb-3">
      <mat-toolbar-row class="menu-container">
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/welcome']">cydc</button>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/food-order/create']"
                *ngIf="isLoggedIn">点餐</button>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/food-order/my']"
                *ngIf="isLoggedIn">我的</button>
        <span class="flex-fill"></span>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/admin/users']"
                *ngIf="isAdmin">用户</button>
        <button mat-button [routerLink]="['/api/user/login']"
                *ngIf="!isLoggedIn">登录</button>
        <button mat-button color="warn" (click)="logout()" matTooltip="已登录为: {{userService.userStatus.name}}"
                *ngIf="isLoggedIn">
          退出
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>
