<header>
  <nav>
    <mat-toolbar class="mat-elevation-z2 mb-3">
      <mat-toolbar-row class="menu-container">
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/welcome']">首页</button>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/food-order/create']">点餐</button>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/food-order/my']">我的</button>
        <span class="flex-fill"></span>
        <button mat-button routerLinkActive="mat-primary" [routerLink]="['/admin/users']">用户</button>
        <button *ngIf="!userService.userStatus.isLoggedIn" mat-button [routerLink]="['/api/user/login']">登录</button>
        <button *ngIf="userService.userStatus.isLoggedIn" mat-button color="warn" (click)="logout()"
                matTooltip="已登录为: {{userService.userStatus.name}}">
          退出
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>
