<div class="row mat-elevation-z2">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <h2 class="d-inline">通知管理</h2>
        <span class="flex-fill"></span>
        <button *ngIf="showSave()" color="primary" mat-button (click)="save()">保存</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field class="w100">
      <textarea matInput rows="10" placeholder="编辑" [(ngModel)]="notification"></textarea>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6" [innerHtml]="notification | safeHtml"></div>
</div>
