<div class="row mat-elevation-z2">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <h2 class="d-inline">菜单管理</h2>
        <span class="flex-fill"></span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="container table-search-container">
      <div class="row">
        <div class="col-6 col-md-3">
          <mat-form-field>
            <input matInput placeholder="菜单内容" [formControl]="detailsInput" [value]="query.details" />
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <input matInput placeholder="价格" type="number" [formControl]="priceInput" [value]="query.price" />
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <!-- start date datepicker -->
            <input matInput [matDatepicker]="startPicker" placeholder="开始时间" name="startDate" [ngModel]="query.startTime"
              (ngModelChange)="applyStartTime(startDateInput.value)" #startDateInput>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker startView="month"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <!-- start date datepicker -->
            <input matInput [matDatepicker]="endPicker" placeholder="结束时间" name="endDate" [min]="query.startTime"
              [ngModel]="query.endTime" (ngModelChange)="applyEndTime(endDateInput.value)" #endDateInput>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker startView="month" [startAt]="query.startTime"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="applySort($event)" class="w100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>

      <ng-container matColumnDef="createTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>创建时间</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.createTime | date: 'yyyy-M-d H:mm'">
          {{item.createTime | date: screenSize.sm ? 'yyyy-M-d' : 'yyyy-M-d H:mm'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>标题</th>
        <td mat-cell *matCellDef="let item">
          <app-click-edit [value]="item.title" (save)="saveTitle($event, item)">
            {{item.title}}
          </app-click-edit>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>内容</th>
        <td mat-cell *matCellDef="let item">
          <app-click-edit *ngIf="!screenSize.md" [value]="item.details" (save)="saveDetails($event, item)">
            {{item.details}}
          </app-click-edit>
          <span [matTooltip]="item.details" *ngIf="screenSize.md">{{item.title}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>价格</th>
        <td mat-cell *matCellDef="let item">
          <app-click-edit [value]="item.price" (save)="savePrice($event, item)" type="number">
            {{item.price}}
          </app-click-edit>
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>状态</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox [ngModel]="item.enabled" (ngModelChange)="toggleStatus(item)">
            {{item.enabled ? '已显示' : '已禁用'}}
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="orderCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>订单数</th>
        <td mat-cell *matCellDef="let item">{{item.orderCount}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>操作</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.orderCount > 0 ? '订单数量=0 才能删除' : '删除'">
          <button (click)="delete(item)" mat-icon-button color="warn" [disabled]="item.orderCount > 0">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[12,20,50,100]" showFirstLastButtons #pager [length]="dataSource.dataCount"
      (page)="page(pager.pageIndex, pager.pageSize)"></mat-paginator>
  </div>
</div>