<div class="row">
  <div class="col">
    <h1>欢迎 😊 {{user.userStatus.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-3">
    <mat-card class="mat-elevation-z2 card-bg">
      <mat-card-title>快捷链接</mat-card-title>
      <mat-card-content>
        <ul>
          <li *ngIf="!user.userStatus.isLoggedIn">OA登录：<a [routerLink]="['/api/user/login']">HERE</a></li>
          <li *ngIf="!user.userStatus.isLoggedIn">老密码登录： <a href="/identity/account/login">HERE</a></li>
          <li>点餐： <a [routerLink]="['/food-order/create']">HERE</a></li>
          <li>订单： <a [routerLink]="['/food-order/my']">HERE</a></li>
          <li>余额： <a [routerLink]="['/food-order/my']">HERE</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card class="card-bg">
      <mat-card-title>技术框架</mat-card-title>
      <mat-card-content class="container">
        <div class="row">
          <div>
            <ng-container *ngIf="user.userStatus.isLoggedIn">
              源代码：<a [href]="source()">{{source()}}</a>
              <hr>
            </ng-container>
            前端: Angular 8.2!<br>
            后端: ASP.NET Core <b class="red">3.0</b>/EF Core <b class="red">3.0</b> <br>
            登录: YeluCasSSO & ASP.NET Identity <br>
            UI: Angular Material 2 and Bootstrap 4 <br>
            <hr>
            IDE: Visual Studio Code <br>
            数据库: SQL Server <b class="red">2019</b> <br>
            CI: Jenkins <br>
          </div>
          <span class="flex-fill"></span>
          <div>
            <b>点餐技术讨论：</b><br>
            <img src="/api/qrcode/dev" matTooltip="请备注：点餐开发讨论(姓名/部门)">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<span class="app-ver" [title]="rv()">{{version()}}</span>
