<div class="row">
  <div class="col">
    <h1>欢迎 😊 {{user.userStatus.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4">
    <mat-card class="mat-elevation-z2 card-bg">
      <mat-card-title>点餐</mat-card-title>
      <mat-card-content>
        <ul>
          <li *ngIf="!user.userStatus.isLoggedIn">先点击左上角或者 <a [routerLink]="['/api/user/login']">这里</a> 登录。</li>
          <li>要点餐，请点击 <a [routerLink]="['/food-order/create']">此处</a> 进入点餐页面。</li>
          <li>查看订单，点击 <a [routerLink]="['/food-order/my']">此处</a> 进入订单页面。</li>
          <li>查看帐单余额，点击 <a [routerLink]="['/food-order/my']">此处</a> 进入订单页面。</li>
        </ul>        
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-4">
    <mat-card class="card-bg">
      <mat-card-title>BUG/问题/创意</mat-card-title>
      <mat-card-content>
        如果你遇到了BUG，或者有任意使用上的疑问，或者有什么创意，可以使用以下方式向我们反馈:
        <ul>
          <li>Github: <a [href]="source + '/issues'" target="_blank">{{source + '/issues'}}</a></li>
          <li>邮件: sdflysha#qq.com</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-4">
    <mat-card class="card-bg">
      <mat-card-title>开发者</mat-card-title>
      <mat-card-content>
        如果你是开发者，可以访问 <a [href]="source" target="_blank">{{source}}</a> 提交PR。
        本网站使用的技术包括：
        <ul>
          <li>TypeScript/C#</li>
          <li>ASP.NET Core 2.2/Entity Framework 2.1</li>
          <li>Angular 7.x/Angular Material 7.x</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<span class="app-ver" [title]="rv()">{{version()}}</span>
