html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-bg {
  background-color: #e4e4e4 !important;
}

.spinning {
  animation: spin 1s infinite linear;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.w100 {
  width: 100% !important;
}


@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

/* modal animation */
.modal-content {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1.0)
  }
}

