<div class="row mat-elevation-z2">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <h2 class="d-inline">点餐列表</h2>
        <span class="flex-fill"></span>
        <h2 class="d-inline">余额：{{balance === undefined ? '--' : balance | currency: '￥'}}</h2>
      </div>
    </div>
  </div>
  <div class="col-12">
    <table mat-table matSort [dataSource]="dataSource" class="w100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>用户名</th>
        <td mat-cell *matCellDef="let item">{{item.userName}}</td>
      </ng-container>

      <ng-container matColumnDef="orderTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>时间</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.orderTime | date: 'yyyy-M-d H:mm'">{{item.orderTime |
          date: screenSize.sm ? 'yyyy-M-d' : 'yyyy-M-d H:mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>菜单</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.details">{{screenSize.sm ? item.menu : item.details}}</td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>备注</th>
        <td mat-cell *matCellDef="let item">
          <app-click-edit *ngIf="isToday(item)" [value]="item.comment" (save)="saveComment($event, item)" [matTooltip]="(item.comment || '') + ' 点击编辑'">
            {{item.comment ? '💬' : '<无>'}}
          </app-click-edit>
          <span *ngIf="!isToday(item)" [matTooltip]="item.comment">{{item.comment ? '💬' : ''}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>价格</th>
        <td mat-cell *matCellDef="let item">{{item.price}}</td>
      </ng-container>

      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>付款</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.isPayed ? '已付' : '未付'">{{item.isPayed ? '✅' : '❌'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[12,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
