<div class="row mat-elevation-z2">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <h2 class="d-inline">订单管理</h2>
        <span class="flex-fill"></span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="container table-search-container">
      <div class="row">
        <div class="col-6 col-md-3">
          <mat-form-field>
            <input matInput placeholder="用户名" [formControl]="userNameInput" [value]="query.userName" />
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <mat-select placeholder="全部付款" [ngModel]="query.isPayed" (ngModelChange)="applyIsPayed(payedInput.value)"
              name="isPayed" #payedInput>
              <mat-option [value]="undefined">全部付款</mat-option>
              <mat-option [value]="true">已付</mat-option>
              <mat-option [value]="false">未付</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <!-- start date datepicker -->
            <input matInput [matDatepicker]="startPicker" placeholder="开始时间" name="startDate" [ngModel]="query.startTime"
              (ngModelChange)="applyStartTime(startDateInput.value)" #startDateInput>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker startView="month"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-6 col-md-3">
          <mat-form-field>
            <!-- start date datepicker -->
            <input matInput [matDatepicker]="endPicker" placeholder="结束时间" name="endDate" [min]="query.startTime"
              [ngModel]="query.endTime" (ngModelChange)="applyEndTime(endDateInput.value)" #endDateInput>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker startView="month" [startAt]="query.startTime"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="applySort($event)" class="w100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>用户名</th>
        <td mat-cell *matCellDef="let item">{{item.userName}}</td>
      </ng-container>

      <ng-container matColumnDef="orderTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>时间</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.orderTime | date: 'yyyy-M-d H:mm'">
          {{item.orderTime | date: screenSize.sm ? 'yyyy-M-d' : 'yyyy-M-d H:mm'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>菜单</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.details">
          {{screenSize.sm ? item.menu : item.details}}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>备注</th>
        <td mat-cell *matCellDef="let item">
          <span [matTooltip]="item.comment">{{item.comment ? '💬' : ''}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>价格</th>
        <td mat-cell *matCellDef="let item">{{item.price}}</td>
      </ng-container>

      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>付款</th>
        <td mat-cell *matCellDef="let item" [matTooltip]="item.isPayed ? '已付' : '未付'">
          {{item.isPayed ? '✅' : '❌'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let item">
          <button (click)="pay(item)" mat-icon-button matTooltip="付款" *ngIf="!item.isPayed">
            <mat-icon>payment</mat-icon>
          </button>
          <button (click)="unpay(item)" mat-icon-button matTooltip="取消付款" *ngIf="item.isPayed">
            <mat-icon>cancel</mat-icon>
          </button>
          <button (click)="delete(item)" mat-icon-button color="warn" matTooltip="删除" *ngIf="!item.isPayed">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[12,20,50,100]" showFirstLastButtons #pager [length]="dataSource.dataCount"
      (page)="page(pager.pageIndex, pager.pageSize)"></mat-paginator>
  </div>
</div>